.grouping-accordion {
  border-bottom: 1px solid #e9ecef;
  font-size: 15px;
  margin-bottom: 1rem;
  width: 100%;
  &__head {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    height: 46px;
    button {
      width: 24px;
      height: 24px;
    }
    &--arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      transform-origin: center center;
      transition: 0.3s;
      transform: rotate(90deg);
      margin-top: 6px;
      margin-left: 6px;
      &.is-close {
        transform: rotate(0deg);
      }
    }
    &--text {
      padding-top: 4px;
      span {
        padding-left: 4px;
      }
    }
  }
  &__section {
    height: auto;
    max-height: 100rem;
    transition: 0.2s;
    margin: 16px 32px;
    &.is-close {
      max-height: 0;
      margin-top: 0;
      overflow: hidden;
    }
  }
}
