#member-info-96E3DF03-B172-4744-8655-30F1B472E040 {
  display: grid;
  grid-template-rows: auto 1fr;

  // [role='tabpanel'],
  // form {
  //   height: 100%; // for defaultLayout.Outlet Footer bottom sticky
  // }

  .chip {
    padding: 0.25rem 0.5rem;
    color: #fff;
    border-radius: 0.25rem;
    background: var(--bs-primary);
    font-size: 13px;
  }
}
