.editor-wrapper {
  position: relative;

  //外框
  .tox-tinymce {
    min-height: 300px;
    border-radius: 0.5rem;
  }

  .tox-sidebar-wrap {
    padding: 0.75rem 1rem;
  }

  .tox-statusbar {
    height: 24px;
  }
  .word-count {
    color: gray;
    padding-bottom: 2px;
    position: absolute;
    right: 100px;
    bottom: 0px;
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 1rem;

    &.isError {
      color: var(--bs-danger);
    }
  }
}

.editor-wrapper--error {
  color: var(--bs-danger);
  padding: 4px 0;
  font-size: 14px;
}
