.side-menu {
  overflow: hidden;
  height: 100vh;
  background-color: var(--bs-gray-900);
  transition: width 0.2s;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  h6 {
    white-space: nowrap;
  }
  &__top {
    border-bottom: 1px solid #2d4059;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #212529;
  }
}

.side-menu-open {
  width: 240px;
  flex-shrink: 0;
}

.side-menu-closed {
  width: 44px;
  flex-shrink: 0;
}

.side-menu__top-open {
  padding: 4px 2px 4px 8px;
}

.side-menu__top-closed {
  padding: 4px 2px;
}

.main-section {
  flex: 1 1 auto;
  display: grid;
  grid-template-rows: 48px 38px 1fr;
  grid-template-areas:
    'header'
    'title'
    'main';
  overflow-x: auto;
}

.default-header {
  grid-area: header;
  background-color: var(--bs-gray-200);
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  ol {
    margin: 0;
  }
}

.default-title {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  button {
    margin-top: -0.25rem;
  }
}

.default-wrapper {
  grid-area: main;
  display: grid;
  position: relative;
  height: 100%;
  grid-template-rows: 1fr 54px;
  grid-template-areas:
    'content'
    'footer';
}

.default-content {
  //   overflow-x: hidden;
  position: relative;
  margin: 0 1.5rem;
  margin-bottom: 3rem;
}

.default-footer {
  &.hidden {
    display: none;
  }
  display: flex;
  grid-area: footer;
  position: sticky;
  bottom: 0;
  background: #fff;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.5rem;
  gap: 0.75rem;
  justify-content: space-between;
  width: 100%;
  div {
    button:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  z-index: 9;
}

.icon-button-right-open {
  margin-left: 8px;
}

.icon-button-right-closed {
  margin-left: auto;
}
