@import '../../../../styles/defaultStyle.scss';

#post_page_crud.post_container {
  position: relative;
  // line-height: 2;
  > form {
    height: 100%;
  }

  .form-grid {
    display: grid;
    grid-row-gap: 1.5em;
    grid-column-gap: 7.5em;
    > * {
      margin: 0;
    }
    &.form-grid-md-2 {
      grid-template-columns: repeat(1, 1fr);
      @include PC {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__address {
      display: grid;
      grid-template-columns: 3fr 3fr 96px;
      //   grid-row-gap: 1em;
      grid-column-gap: 0.5em;

      &--code {
        color: var(--bs-primary);
        border: 1px solid var(--bs-primary);
        border-radius: 0.5rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        height: 38px;
      }
    }
    &__mobile {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 0.5em;
    }
    &__invoice {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-column-gap: 0.5em;
    }
    &--error {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      font-size: 0.875em;
      color: var(--bs-form-invalid-color);
    }
  }

  .post_editor {
    margin-bottom: 2rem;
    margin: 0 auto;
    width: 80vw;
    padding: 2rem 1rem 2rem;
    @include PC {
      padding: 3rem 3rem 2rem;
    }
    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
      font-family: Noto Sans TC, Lato, Helvetica Neue For Number, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
        MicrMicrosoft YaHei;
    }
    h1 {
      margin: 0 0 1rem 0;
      font-size: 2.5rem;
    }
    h2 {
      margin: 2rem 0 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      border-bottom: solid 1px;
    }
    h3 {
      font-size: 1.5rem;
      margin: 2rem 0 1rem;
    }
    h4 {
      font-style: italic;
      margin: 3rem 2rem;
      font-size: 1.5rem;
      text-align: center;
      line-height: 3rem;
    }
    p {
      margin: 0 0 1.5rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
    hr {
      background-color: $main-color;
    }
    p:has(img) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      width: 100%;
      padding: 1rem;
    }
    p:has(img) img {
      width: 100%;
      height: auto;
      max-height: 60vh;
      object-fit: contain;
      border-radius: 0.5rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    blockquote {
      margin: 0 0 1rem;
      padding: 1.5rem 1.2rem;
      border-left: 0.3rem solid $base-font-color;
      background-color: $blockquote;
      color: $base-font-color;
      font-weight: bold;
      p {
        margin: 0;
      }
    }
    ul,
    ol {
      margin-top: 0.4rem;
      li {
        position: relative;
        margin: 0.3rem 0;
        padding-left: 0.3rem;
        font-size: 1.2rem;
      }
    }
  }
}
