.form-grid {
  display: grid;

  grid-row-gap: 1.5em;
  grid-column-gap: 7.5em;
  > * {
    margin: 0;
  }
  &.form-grid--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &__address {
    display: grid;
    grid-template-columns: 3fr 3fr 96px;
    //   grid-row-gap: 1em;
    grid-column-gap: 0.5em;

    &--code {
      color: var(--bs-primary);
      border: 1px solid var(--bs-primary);
      border-radius: 0.5rem;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      height: 38px;
    }
  }
  &__mobile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0.5em;
  }
  &__invoice {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 0.5em;
  }
  &--error {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
  }
}
